@use 'fonts';

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: cabin, sans-serif;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
    padding: 0;
}